.screen {
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
}
.progress-bar-wrapper {
  background-color: #fff !important;
  border-radius: 5px;
  height: 10px;
  margin-top: 50px !important;
  display: flex;
  align-items: center;
  overflow: hide;
}
.progress-bar {
  border-radius: 5px;
  height: 100%;
  transition: width 0.3s ease-in-out;
}
.progress-bar-0 {
  background-color: rgb(236, 240, 10) !important;
}

.progress-bar-25 {
  background-color: rgb(236, 240, 10) !important;
}

.progress-bar-50 {
  background-color: rgb(236, 240, 10) !important;
}

.progress-bar-75 {
  background-color: rgb(236, 240, 10) !important;
}

.progress-bar-100 {
  background-color: rgb(236, 240, 10) !important;
}
.btnsv .leftarrow {
  transform: translateX(10px);
  transition: transform 0.5s ease-in-out;
}
.btnsv .rightarrow {
  transform: translateX(-8px);
  transition: transform 0.5s ease-in-out;
}

.btnsv:hover .leftarrow,
.btnsv:hover .rightarrow {
  transform: translateX(0);
}
.opt {
  margin: 10px;
  /* margin-top: 15px !important;
  margin-bottom: 35px !important; */
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: "#fff";
  border-radius: 10px;
  text-align: start !important;
  font-size: 18px;
  /* height: 65px; */
}
.selected {
  background-color: #a9c45e;
}
.circle {
  background-color: rgb(247, 247, 247);
  width: 30px !important;
  display: flex;
  height: 30px !important;
  border-radius: 50%;
  margin: 10px;
  padding: 15px;
  margin-top: 18px !important;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600 !important;
  color: rgb(26, 26, 26);
  font-family: "Poppins", sans-serif;
}

.ques {
  font-size: 22px;
}
.gb {
  margin-top: 32px !important;
}
.chk {
  opacity: 0;
}
.txt {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  outline: none;
  width: 700px;
}

.txt:focus {
  border: 2px solid #a9c45e !important;
}
.txt1 {
  margin-left: 1px !important;
}
.rt {
  align-items: center !important;
  margin-top: 6px;
  margin-left: -20px;
  font-size: 16px;
}
.btnsv {
  background-color: rgb(226, 104, 60, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  width: 220px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.imagg {
  margin-top: 225px;
  margin-left: 245px;
}

.iom {
  max-width: 90%;
  height: auto;
  margin-top: 230px;
  margin-left: 120px;
}

@media screen and (max-width: 991px) {
  .iom {
    display: none;
  }

  .btnsv-prev-next {
    text-align: center;
  }
  .txt {
    width: 100%;
  }

  .btnsv-prev-next .col-md-6 {
    order: 2;
  }

  .btnsv-prev-next .btnsv-next {
    order: 1;
  }
}

.opt.selected {
  background-color: #a9c45e;
  color: #fff;
}

.btnsv-prev-next {
  bottom: 10px;
}

.btnsv-prev {
  left: 30px;
  background-color: #959090 !important;
}

.btnsv-next {
  right: 30px;
  background-color: rgb(226, 104, 60);
}

/* .btnsv-prev:active,
.btnsv-prev:focus {
  background-color: rgb(226, 104, 60);
}

.btnsv-next:active,
.btnsv-next:focus {
  background-color: rgb(226, 104, 60);
} */
